packages/*/pkg
packages/*/src
packages/*/*.tar.gz*
packages/*/*.tar.xz*
packages/pes-libretro-fceu-next/fceu-next
packages/pes-libretro-pcsx_rearmed/pcsx_rearmed
packages/pes-libretro-picodrive/libretro-picodrive
packages/pes-libretro-snes9x2010/snes9x2010
packages/pes-rasum/rasum
packages/pes-retroarch-assets/retroarch-assets
