packages/*/pkg
packages/*/src
packages/*/*.tar.gz*
packages/*/*.tar.xz*
packages/pes-libretro-beetle-pce-fast/beetle-pce-fast-libretro
packages/pes-libretro-bluemsx/blueMSX-libretro
packages/pes-libretro-fceu-next/fceu-next
packages/pes-libretro-fuse/fuse-libretro
packages/pes-libretro-gambatte/gambatte-libretro
packages/pes-libretro-genesis-plus-gx/Genesis-Plus-GX
packages/pes-libretro-gpsp/gpsp
packages/pes-libretro-mame2003/mame2003-libretro
packages/pes-libretro-mupen64plus-nx/mupen64plus-libretro-nx
packages/pes-libretro-pcsx_rearmed/pcsx_rearmed
packages/pes-libretro-picodrive/libretro-picodrive
packages/pes-libretro-snes9x2010/snes9x2010
packages/pes-rasum/rasum
packages/pes-retroarch-assets/retroarch-assets
repo/pes*
